body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  display: inline;
}

li a {
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
  color: black;
}

.cartWidget {
  display: flex;
}

.containerNav {
  display: flex;
  align-items: center;
  background-color: darkgray;
}

.nombre {
  font-size: 18px;
}

.marca {
  margin-left: 10px;
}

.containerList {
  margin-left: 10px;
  font-size: 40px;
}

.navbar {
  align-items: center;
  display: flex;
}

.contador {
  display: flex;
  justify-content: left;
  padding: 2px;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

.contador span {
  width: 30px;
  margin: 15px;
  text-align: center;
  line-height: 80%;
}
.contador button {
  width: 30px;
  margin: 10px;
}

.botonCarrito  button{
    width: 140px;
    height: 40px;
    margin: 10px;
}

.titulo {
  margin: 10px;
  font-size: large;
}